
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
    ViewBag.PricesLinkActive = "active";
}




<div class="container templatemo_wrapper">
    <!-- home start -->
    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">SECRET PACKAGES</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">CHOOSE HOW MUCH YOUR PRIVACY COST</div>


            <div class="templatemo_hometext">

                <div id="templatemo_packages" class="row">

                    <div class="col-sm-10 pull-right" style="text-align: left">
                        <div class="templatemo_pricing_table">
                            <div class="templatemo_pricingbg_first">
                                <img src="../images/templatemo_pricing_bg.jpg" alt="templatemo price img">
                            </div>
                            <div class="templatemo_pricing_box">
                                <span class="price_title">NORMAL SECURITY</span>
                                <span class="sign">$</span><span class="price">FREE </span> <span class="month">/ after registration    </span>
                            </div>
                            <div class="templatemo_pricing_list">
                                <ul>
                                    <li>Conversation history will not be saved in anywhere!</li>
                                    <li>All your rooms will use HTTPS connection</li>
                                    <li>Rooms can be shared</li>
                                    <li>You can create up to 15 rooms</li>
                                    <li>Every room has limit of 50 people</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Request.IsAuthenticated)
            {
                <div class="clear"></div>
                <div class="templatemo_homebuton"><a href="../../Account/Login">REGISTER NOW</a></div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="templatemo_separater">
                <span class="page">
                    <label class="fa fa-hand-o-down"></label>
                </span>
            </div>
        </div>
    </div>
    <!-- home end -->
</div>

<div class="container">
    <div id="templatemo_packages" class="row">
        <div class="col-md-12">
            <div class="templatemo_pricing_title">OUR PACKAGES</div>
            <div class="templatemo_pricing_subtitle">CHOOSE FROM DIFFERENT LEVEL OF SECURITY</div>
        </div>
        <div class="col-sm-4">
            <div class="templatemo_pricing_table">
                <div class="templatemo_pricingbg">
                    <img src="../images/templatemo_pricing_bg.jpg" alt="templatemo price img">
                </div>
                <div class="templatemo_pricing_box">
                    <span class="price_title">MEDIUM SECURITY</span>
                    <span class="sign">$</span><span class="price">5.00</span> <span class="month">/ month    </span>
                </div>
                <div class="templatemo_pricing_list">
                    <ul>
                        <li>Conversation history will not be saved in anywhere!</li>
                        <li>All your rooms will use HTTPS connection</li>
                        <li>Rooms can be shared</li>
                        <li>You can create up to 50 rooms</li>
                        <li>Every room has limit of 150 people</li>
                        <li>You can delete conversation history for all users with one click</li>
                        <li>No limit on Normal Security rooms</li>

                    </ul>
                </div>
                <a href="#" class="templatemo_signup">SIGN UP NOW</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="templatemo_pricing_table">
                <div class="templatemo_pricingbg">
                    <img src="../images/templatemo_pricing_bg.jpg" alt="templatemo price img">
                </div>
                <div class="templatemo_pricing_box">
                    <span class="price_title">PRO SECURITY</span>
                    <span class="sign">$</span><span class="price">10.00 </span> <span class="month">/ month    </span>
                </div>
                <div class="templatemo_pricing_list">
                    <ul>
                        <li>Conversation history will not be saved in anywhere!</li>
                        <li>All your rooms will use HTTPS connection</li>
                        <li>Rooms can be shared</li>
                        <li>You can create up to 50 rooms</li>
                        <li>Every room has limit of 150 people</li>
                        <li>You can delete conversation history for all users with one click</li>
                        <li>You can ban users by IP </li>
                        <li>No limit on Normal Security rooms</li>
                        <li>No limit on Medium Security rooms</li>

                    </ul>
                </div>
                <a href="#" class="templatemo_signup">SIGN UP NOW</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="templatemo_pricing_table">
                <div class="templatemo_pricingbg">
                    <img src="../images/templatemo_pricing_bg.jpg" alt="templatemo price img">
                </div>
                <div class="templatemo_pricing_box">
                    <span class="price_title">MAXIMUM SECURITY</span>
                    <span class="sign">$</span><span class="price">15.00 </span> <span class="month">/ month    </span>
                </div>
                <div class="templatemo_pricing_list">
                    <ul>
                        <li>Conversation history will not be saved in anywhere!</li>
                        <li>All your rooms will use HTTPS connection</li>
                        <li>Rooms can be shared</li>
                        <li>You can create up to 50 rooms</li>
                        <li>You can choose the limit of people for every room up to 300</li>
                        <li>You can delete conversation history for all users with one click</li>
                        <li>You can choose which user can delete conversation history</li>
                        <li>You can ban users by IP</li>
                        <li>Messages will be encrypted</li>
                        <li>No limit on Normal Security rooms</li>
                        <li>No limit on Medium Security rooms</li>
                        <li>No limin on Pro Security rooms</li>
                    </ul>
                </div>
                <a href="#" class="templatemo_signup">SIGN UP NOW</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="templatemo_separater">
                <span class="page">
                    <label class="fa fa-hand-o-up"></label>
                </span>
            </div>
        </div>
    </div>
</div>