
@{
    ViewBag.Title = "View your payments";

    ViewBag.ManageLinkActive = "active";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}

<div class="container templatemo_wrapper">
    <!-- home start -->

    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">SECRET ACCOUNT</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">VIEW YOUR SECURE PAYMENTS</div>
            <div class="clear"></div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="templatemo_separater">
                        <span class="page"> </span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="templatemo_hometext">
                <hr />
                <p>
                    No personal information is collected during the payment!
                    We use PayPal as middleware for transferring money.
                    When you buy package we will ask you to login in your PayPal account or checkout directly with credit card,
                    then we receive a payment number and you can choose to complete the order or to cancel it.
                </p>
                <hr />
            </div>



        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="templatemo_separater">
                    <span class="page"> </span>
                </div>
            </div>
        </div>
    </div>
</div>