@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
               <h3>@ViewBag.Title.</h3>
        </div>
     
    </div>
    <div class="panel-body">
            Please check your email to reset your password.
    </div>
</div>


