@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
               <h3>@ViewBag.Title.</h3>
        </div>
     
    </div>
    <div class="panel-body">
           <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-success" })
    </p>
    </div>
</div>


